# SQL API inside PySpark

In [1]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession

from lib.logger import Log4j

In [2]:
spark = SparkSession.builder.master("local[3]").appName("Hello SQL").getOrCreate()
logger = Log4j(spark)
logger.info("Starting HelloSparkSQL")

In [4]:
surveyDF = spark.read \
        .option("header", "true") \
        .option("inferSchema", "true") \
        .csv("data/sample.csv")

We already learnt to use dataframe Reader API and Transformations & action to make changes in dataframe. also we learn alternatives using rdd.
Now we can perform same using spark sql expression.

We can execute sql expression only on spark table or view.

Spark allow you to register your dataframe as View.

In [5]:
surveyDF.createOrReplaceTempView("survey_tbl")

countDF = spark.sql("select Country, count(1) as count from survey_tbl where Age<40 group by Country")

countDF.show()

+--------------+-----+
|       Country|count|
+--------------+-----+
| United States|    4|
|        Canada|    2|
|United Kingdom|    1|
+--------------+-----+

In [6]:
spark.stop()