In [ ]:
import findspark
findspark.init()

import pyspark
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

spark = SparkSession.builder \
            .master("local[3]") \
            .appName("Misc Transformations") \
            .getOrCreate()

data_list = [("Ravi", "28", "1", "2002"),
             ("Abdul", "23", "5", "81"),
             ("John", "12", "12", "6"),
             ("Rosy", "7", "8", "63"),
             ("Abdul", "23", "5", "81")
            ]

data_list1 = [("Ravi", 28, 1, 2002),
             ("Abdul", 23, 5, 81),
             ("John", 12, 12, 6),
             ("Rosy", 7, 8, 63),
             ("Abdul", 23, 5, 81)
            ]

1. Quick method to create dataframe

In [ ]:
raw_df = spark.createDataFrame(data_list)
raw_df.printSchema()

However we infered schema automatically. so might incorrect for some columns. as well as we dont have meaningful column names. and we do have duplicate entries as well.

so how to get schema for dataframe namedtuple right. so define it and attach schema.

however we have quick method to do it use toDF method.

In [ ]:
raw_df = spark.createDataFrame(data_list).toDF("name", "day", "month", "year")
raw_df.printSchema()

2. How to add column with monotonically increasing id
withColumn can allow to create column as well. monotonically_increasing_id generates unique integer for every record

In [ ]:
df1 = raw_df.withColumn("id", monotonically_increasing_id())
df1.show()

3. How to use use case when Then
these are popular constructs in programming language
will use to avoid lengthy if else statements
lets use it to fix year digit problem. we have two digit year make it four digit.

In [ ]:
df2 = df1.withColumn("year", expr("""
         case when year < 21 then year + 2000
         when year < 100 then year + 1900
         else year
         end"""))
df2.show()

noe year in decimal. cause datatye is in string and we are performing arithmetic operation so promoted to decimal and then again after demoted to string.

How to fix it?

3. How to cast your fields
two methods
inline cast: doesnot allow spark to promote and demote field automatically;

In [ ]:
df3 = df1.withColumn("year", expr("""
         case when year < 21 then cast(year as int) + 2000
         when year < 100 then cast(year as int) + 1900
         else year
         end"""))
df3.show()

Change Schema Method

In [ ]:
df4 = df1.withColumn("year", expr("""
         case when year < 21 then year + 2000
         when year < 100 then year + 1900
         else year
         end""").cast(IntegerType()))
df4.show()
df4.printSchema()

In [ ]:
df1.show()
df1.printSchema()

df5 = df1.withColumn("day", col("day").cast(IntegerType())) \
         .withColumn("month", col("month").cast(IntegerType())) \
         .withColumn("year", col("year").cast(IntegerType())) 

df5.printSchema()

df6 = df5.withColumn("year", expr("""
         case when year < 21 then year + 2000
         when year < 100 then year + 1900
         else year
         end"""))
df6.show()